.header__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__container__first {
}

.header__container__second {
}

.header__container__third {
  display: flex;
  gap: 32px;
}

.header__logo {
  color: var(--header-text-color);
  font-size: 26px;
  font-weight: 500px;
}

.header__list {
  display: flex;
  gap: 53px;
}

.header__link {
  color: var(--header-text-color);
  font-size: 14px;
  font-weight: 500px;
}

.header__link:hover {
  border-bottom: 1px solid transparent;
  border-radius: 2px;
  border-color: var(--orange-text-color);
  padding-bottom: 3px;
}