.footer {
  background-color: var(--primary-background);
  background-image: url('../../img/crypto-img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding-top: 53px;
    padding-bottom: 50px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    padding-top: 105px;
    padding-bottom: 80px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.footer__container__information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer__container__information {
    margin-bottom: 54px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container__information {
    gap: 144px;
  }
}

.footer__list__container {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  color: var(--white-text-color);
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 600px;

  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 15px;
    font-weight: 600px;

    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    margin-bottom: 44px;
  }
}

.footer__link {
  color: var(--white-text-color);
  font-size: 8px;
  font-weight: 300px;
  transition: color 0.44s ease-in-out, border-color 0.44s ease-in-out,
    padding-bottom 0.1s ease-in-out;
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 14px;
    font-weight: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__link {
    font-size: 14px;
    font-weight: 300px;
  }
}
.footer__link:hover {
  border-bottom: 1px solid transparent;
  border-radius: 2px;
  border-color: var(--orange-text-color);
  color: var(--orange-text-color);
  padding-bottom: 3px;
}

.footer__link__yellow {
  color: var(--grean-text-color);
}
@media screen and (min-width: 1280px) {
  .footer__link__yellow {
    color: var(--orange-text-color);
  }
}

.footer__list__social {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .footer__list__social {
    gap: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__list__social {
    gap: 38px;
  }
}

.footer__link__copyright {
  color: var(--white-text-color);
  font-weight: 300px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer__link__copyright {
    font-size: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__link__copyright {
    display: none;
  }
}

.footer__item {
  margin-bottom: 2px;
}
@media screen and (min-width: 768px) {
  .footer__item {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__item {
    margin-bottom: 18px;
  }
}