.jobs {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 102px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .jobs {
    padding-bottom: 233px;
  }
}
@media screen and (min-width: 768px) {
  .jobs {
    padding-bottom: 133px;
  }
}

.jobs__header {
  font-size: 25px;
  font-weight: 600px;
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .jobs__header {
    font-size: 43px;
    margin-bottom: 50px;
  }
}

.jobs__first__container {
  border: 3px solid rgba(0, 0, 0, 10%);
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 18px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 25px;
  padding-right: 150px;
  cursor: pointer;
  transition: all 0.4s ease;
}
@media screen and (min-width: 768px) {
  .jobs__first__container {
    max-width: 100%;
    margin-bottom: 44px;

    padding-top: 45px;
    padding-bottom: 91px;
    padding-left: 47px;
    padding-right: 325px;
  }
}
@media screen and (min-width: 1280px) {
  .jobs__first__container {
    max-width: 100%;
    padding-top: 45px;
    padding-bottom: 91px;
    padding-left: 47px;
    padding-right: 890px;
  }
}

.jobs__first__container:hover,
.jobs__first__container:focus {
  border: 3px solid rgba(0, 0, 0, 5%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.jobs__second__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .jobs__second__container {
  }
}
@media screen and (min-width: 1280px) {
  .jobs__second__container {
  }
}

.jobs__third__container {
  display: flex;
}

.jobs__title {
  font-size: 15px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .jobs__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .jobs__title {
    margin-bottom: 22px;
  }
}

.jobs__paragraph {
  font-size: 12px;
  white-space: nowrap;
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .jobs__paragraph {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .jobs__paragraph {
    margin-right: 22px;
  }
}

.jobs__svg__location {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 768px) {
  .jobs__svg__location {
    width: 22px;
    height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .jobs__svg__location {
    width: 26px;
    height: 26px;
  }
}

.jobs__svg__time {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 768px) {
  .jobs__svg__time {
    width: 22px;
    height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .jobs__svg__time {
    width: 26px;
    height: 26px;
  }
}

.jobs__button__arrow {
  border: none;
  background: transparent;
  position: absolute;
  transform: translate(100px, -50%);
}
@media screen and (min-width: 768px) {
  .jobs__button__arrow {
    transform: translate(265px, -50%);
  }
}

@media screen and (min-width: 1280px) {
  .jobs__button__arrow {
    transform: translate(830px, -50%);
  }
}

@media screen and (max-width: 767.98px) {
  .jobs__button__svg {
    width: 19px;
    position: absolute;
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 767.98px) {
  .button__hidden {
    display: none;
  }
}
